services:
  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.35.9
    command:
      - --host
      - 0.0.0.0
      - --port
      - "8080"
      - --scheme
      - http
    ports:
      - "8080:8080"   # HTTP API
      - "50051:50051" # gRPC (optional but useful)
    restart: on-failure:0
    environment:
      QUERY_DEFAULTS_LIMIT: "25"
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      PERSISTENCE_DATA_PATH: "/var/lib/weaviate"
      CLUSTER_HOSTNAME: "node"
    volumes:
      - weaviate_data:/var/lib/weaviate

volumes:
  weaviate_data: